html{
    font-size: 62.5%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
}
body{
    height: 100%;
    padding: 1rem;
    background-image: 
    repeating-linear-gradient(
        -45deg,
        #fff,
        #fff 20px,
        #b1e0ff 20px,
        #b1e0ff 40px
    )
}
ol{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: fit-content;
    text-align: center;
    list-style-type: georgian;
}
li{
    font-size: 1.6rem;
    padding: 0.5rem;
    border-radius: 1rem;
}
.color{    
    background-color: blueviolet;
    color: rgb(154, 57, 57);
}
button{
    width: 100%;
    padding: 0.5rem;
    background-color: brown;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}